In [ ]:
                                    Medidas de posição

1. Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
2. Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
3. Qual o apgar de 1 min que mais aparece (moda)?
4. Qual o apgar de 5 minutos que mais aparece?
5. Qual o peso da criança tal que 10% dos pesos são menores (P10)?
6. Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
7. Qual a quantidade de filhos mortos que mais aparece?
8. Qual a média de idade de mães solteiras?
9. Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
10. Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?

In [47]:
#Importar os dados
import pandas as pd
caminho = 'C:/Users/guihb/Desktop/aula/eda_aula/res/database/data/SE/DNSE2017.csv'

engdados = pd.read_csv(caminho, dtype=str)

#transformacao dos dados
engdados.PESO = pd.to_numeric(engdados.PESO)
engdados.IDADEMAE = pd.to_numeric(engdados.IDADEMAE).astype(pd.Int64Dtype())
engdados.IDADEPAI = pd.to_numeric(engdados.IDADEPAI).astype(pd.Int64Dtype())
engdados.QTDFILVIVO = pd.to_numeric(engdados.QTDFILVIVO).astype(pd.Int64Dtype())
engdados.QTDFILMORT = pd.to_numeric(engdados.QTDFILMORT).astype(pd.Int64Dtype())
engdados.APGAR1 = pd.to_numeric(engdados.APGAR1).astype(pd.Int64Dtype())
engdados.APGAR5 = pd.to_numeric(engdados.APGAR5).astype(pd.Int64Dtype())
engdados.SEMAGESTAC = pd.to_numeric(engdados.SEMAGESTAC).astype(pd.Int64Dtype())
engdados.CONSPRENAT = pd.to_numeric(engdados.CONSPRENAT).astype(pd.Int64Dtype())
engdados.SERIESCMAE = pd.to_numeric(engdados.SERIESCMAE).astype(pd.Int64Dtype())
engdados.QTDPARTCES = pd.to_numeric(engdados.QTDPARTCES).astype(pd.Int64Dtype())
engdados.QTDPARTNOR = pd.to_numeric(engdados.QTDPARTNOR).astype(pd.Int64Dtype())
engdados.QTDGESTANT = pd.to_numeric(engdados.QTDGESTANT).astype(pd.Int64Dtype())

engdados

,contador,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,1,2415631,230440,1,24,2,4,999992,1,...,NaN,0,NaN,12,0,1,NaN,05,1,9
1,2,1,2005050,270030,1,34,5,4,622020,3,...,NaN,3,05042017,06,0,1,NaN,03,1,3
2,3,1,2005050,270030,1,19,2,4,622020,<NA>,...,NaN,3,03042017,06,0,1,NaN,11,0,5
3,4,1,2005026,270030,1,19,2,4,999992,1,...,2,3,29042017,04,0,1,NaN,05,1,2
4,5,1,2722429,270400,1,16,1,4,999991,0,...,2,4,19042017,05,0,1,NaN,03,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33862,33863,1,2115891,314480,1,31,2,5,121010,1,...,5,4,27092017,08,0,1,NaN,10,1,5
33863,33864,1,3137163,350610,1,26,2,4,376225,0,...,2,3,15102017,06,0,1,NaN,02,0,3
33864,33865,1,2755092,353800,1,26,1,5,999992,0,...,5,4,24102017,08,0,1,NaN,04,1,5
33865,33866,1,2077574,355030,1,33,1,4,999992,1,...,5,4,21082017,05,0,1,NaN,04,1,5
33866,33867,2,6901743,280210,1,23,1,4,622020,2,...,4,4,06112017,12,0,1,NaN,03,1,5

In [24]:
#descrever a estrutura
engdados.describe()

,IDADEMAE,QTDFILVIVO,QTDFILMORT,APGAR1,APGAR5,PESO,SERIESCMAE,QTDGESTANT,QTDPARTNOR,QTDPARTCES,IDADEPAI,SEMAGESTAC,CONSPRENAT
count,33867.000000,30180.000000,27531.000000,33015.000000,33032.000000,33856.000000,24873.000000,30546.000000,29595.000000,27357.000000,5010.000000,33483.000000,33571.000000
mean,26.148079,1.123062,0.310486,8.443829,9.526913,3223.196332,4.218510,1.389085,1.025443,0.287641,33.357485,38.673476,7.178011
std,6.849105,1.417291,0.647047,1.275513,0.891737,575.737801,2.264276,1.668507,1.519598,0.604171,7.506499,2.190846,4.441002
min,11.000000,0.000000,0.000000,0.000000,0.000000,225.000000,1.000000,0.000000,0.000000,0.000000,15.000000,19.000000,0.000000
25%,21.000000,0.000000,0.000000,8.000000,9.000000,2930.000000,3.000000,0.000000,0.000000,0.000000,29.000000,38.000000,5.000000
50%,26.000000,1.000000,0.000000,9.000000,10.000000,3256.500000,3.000000,1.000000,1.000000,0.000000,33.000000,39.000000,7.000000
75%,31.000000,2.000000,0.000000,9.000000,10.000000,3575.000000,6.000000,2.000000,1.000000,0.000000,37.000000,40.000000,9.000000
max,51.000000,14.000000,14.000000,10.000000,10.000000,5740.000000,8.000000,42.000000,20.000000,11.000000,87.000000,45.000000,99.000000

In [25]:
#1. Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?

media = engdados[['IDADEMAE','PESO','APGAR1', 'APGAR5', 'QTDFILVIVO', 'QTDFILMORT']].mean()
print(media)

IDADEMAE        26.148079
PESO          3223.196332
APGAR1           8.443829
APGAR5           9.526913
QTDFILVIVO       1.123062
QTDFILMORT       0.310486
dtype: float64

In [26]:
#2. Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
mediana = engdados.IDADEMAE.median()
print(mediana)

26.0

In [27]:
#3. Qual o apgar de 1 min que mais aparece (moda)?
engdados.APGAR1.mode()

0    9
dtype: Int64

In [28]:
#4. Qual o apgar de 5 minutos que mais aparece?
engdados.APGAR5.mode()

0    10
dtype: Int64

In [31]:
#5. Qual o peso da criança tal que 10% dos pesos são menores (P10)?
engdados.PESO.quantile([0.10])

0.1    2570.0
Name: PESO, dtype: float64

In [32]:
#6. Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
engdados.PESO.quantile([0.75])

0.75    3575.0
Name: PESO, dtype: float64

In [43]:
#7. Qual a quantidade de filhos mortos que mais aparece?
engdados.QTDFILMORT.mode()

0    0
dtype: Int64

In [45]:
#8. Qual a média de idade de mães solteiras?
maesolteiras = engdados[engdados.ESTCIVMAE == '1']
maesolteiras.IDADEMAE.mean()

24.929703822047436

In [53]:
#9. Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
escolaridade = engdados[(engdados.ESCMAE == '1') | (engdados.ESCMAE == '2')]
escolaridade.QTDFILVIVO.quantile([0.25])

0.25    1
Name: QTDFILVIVO, dtype: object

In [56]:
#10. Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?
anoma = engdados[engdados.IDANOMAL == '1']
anoma.IDADEMAE.mode()

0    21
dtype: Int64